#!/usr/bin/env bash
#
# Commands:
#
# * dump - Saves the given database to a GZ archive.
# * dump-all - Saves all databases to a GZ archive.
# * restore - Restores database from the GZ archive.
# * restore-all - Restores databases from the GZ archive.
# * shell - Access to the MongoDB server console.
#
# Placeholders:
#
# * COMPOSE_COMMAND - The name of the docker compose command.
# * SERVICE_NAME - Service name in docker-compose.
# * DATE_FORMAT - The date format used by the date command to generate filenames.
# * USER_PASSWORD_VAR - The name of the environment variable with the user password.
#
# Environment variables:
# 
# * MONGO_USER - Force the given username to be used.
# * MONGO_PASSWORD - Force the given user password to be used.
#
# Get script:
# 
# wget -qO- https://kyzima-spb.github.io/docker-useful/mongodb.sh.tmpl | \
# sed \
#     -e 's/%%COMPOSE_COMMAND%%/docker compose/' \
#     -e 's/%%SERVICE_NAME%%/mongodb/' \
#     -e 's/%%DATE_FORMAT%%/%F_%k%M%S/' \
#     -e 's/%%USER_PASSWORD_VAR%%/MONGO_INITDB_ROOT_PASSWORD_FILE/' \
#     > mongodb.sh \
# && chmod +x mongodb.sh


makeCredentials()
{
    local userPasswordVar='%%USER_PASSWORD_VAR%%'
    
    if [[ "$userPasswordVar" == *_FILE ]]; then
        local default="\$(cat \$$userPasswordVar)"
    else
        local default="\$$userPasswordVar"
    fi
    
    local user="${MONGO_USER:-\$MONGO_INITDB_ROOT_USERNAME}"
    local password="${MONGO_PASSWORD:-$default}"

    echo "-u \"$user\" -p \"$password\" --authenticationDatabase admin"
}


SERVICE_NAME='%%SERVICE_NAME%%'
DATE_FORMAT='%%DATE_FORMAT%%'
CREDENTIALS="$(makeCredentials)"


case "$1" in
    'dump')
        db="${3:-\$MONGO_INITDB_DATABASE}"
        output="${2:-.}/${3:-default}_$(date -u +$DATE_FORMAT).gz"
        echo "Save the '$db' database dump to an $output"
        %%COMPOSE_COMMAND%% exec "$SERVICE_NAME" \
            sh -c "exec mongodump $CREDENTIALS \
                -d \"$db\" \
                --dumpDbUsersAndRoles \
                --gzip \
                --archive \
            " > "$output"
        ;;
    'dump-all')
        output="${2:-.}/full_$(date -u +$DATE_FORMAT).gz"
        echo "Save full dump to an $output"
        %%COMPOSE_COMMAND%% exec "$SERVICE_NAME" \
            sh -c "exec mongodump $CREDENTIALS \
                --gzip \
                --archive \
            " > "$output"
        ;;
    'restore')
        input="$2"
        db="${3:-\$MONGO_INITDB_DATABASE}"
        %%COMPOSE_COMMAND%% exec -T "$SERVICE_NAME" \
           sh -c "exec mongorestore $CREDENTIALS \
               -d \"$db\" \
               --restoreDbUsersAndRoles \
               --gzip \
               --archive \
           " < "$input"
        ;;
    'restore-all')
        input="$2"
        %%COMPOSE_COMMAND%% exec -T "$SERVICE_NAME" \
            sh -c "exec mongorestore $CREDENTIALS \
                --gzip \
                --archive \
            " < "$input"
        ;;
    'shell')
        %%COMPOSE_COMMAND%% exec "$SERVICE_NAME" \
            sh -c "exec mongosh $CREDENTIALS \"\$MONGO_INITDB_DATABASE\""
        ;;
    *)
        echo "Usage: $0 {dump,dump-all,restore,restore-all,shell}" >&2
        exit 1
esac
